#example1{
  position: relative;
  
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

img[data-polyclip] {
  visibility: hidden;
}

[data-polyclip], #example1 img {
  position: absolute;
  top: 0;
  left: 0;
}

