/* Your CSS Styling */

/* Sticky footer styles
-------------------------------------------------- */
html,
body {
  height: 100%;
  background-color: #F0F0F0;
  /* https://flic.kr/p/5EhvHF */
  background-image:url('/static/bg.jpg');
  background-size:cover;
  font-family: "Ubuntu", Tahoma, "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding-top: 40px;
  overflow-y: auto;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0px 0 -50px auto;
  /* Pad bottom by footer height */
  padding: 0 0 50px;
}

/* Set the fixed height of the footer here */
#footer {
  position: fixed;
  bottom: 0;
  height: 50px;
  width: 100%;
  background-color: #f5f5f5;
}

/* Genericon social icon styles
---------------------------------------------------- */
.genericon-github:before,
.genericon-linkedin:before,
.genericon-twitter:before {
    -webkit-font-smoothing: antialiased;
    font: normal 32px/1 'Genericons';
    vertical-align: middle;
}

.social-icons {
    display: inline-block;
    vertical-align: middle;
    margin: 10px;
}

/* TEST */
.btn {
  /*background-color: #000099;*/
}

.custom_bg {
  /*background-color: #F0F0F0;*/
  background-color: rgba(240, 240, 240, 0.8);
  border-radius:20px;
  /*opacity: 0.5;*/
}

.rounded_corners {
  border-radius:20px;
  margin-bottom:20px;
}

.bit_of_top_padding {
  padding-top: 30px;
}

.bit_of_top_margin {
  margin-top: 30px;
}

.bit_of_bot_margin {
  margin-bottom: 30px;
}

.bit_of_padding {
  padding: 30px;
}

.padding20 {
  padding: 20px 20px 5px 20px;
}

.list_padding {
  padding-top: 10px;
}

.custom_navbar_img {
}

.custom_form_width {
  width:50%;
}

.magic_scroller {
  overflow-y: scroll;
  height:100%;
}

.magic_freezer {
  position: fixed;
  /*position: absolute;*/
  display:block;
  right: 0;
}

#loading {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 364px;
  height: 572px;
  /* 1/2 of the height and width of the actual gif */
  margin: -286px 0 0 -182px;
  z-index: 100;
}

.bit_of_padding_top_small {
  padding-top: 5px;
}

.pie_bg {
  /*background-color: #F0F0F0;*/
  background-color: rgba(240, 240, 240, 0.5);
  border-radius:20px;
  margin:100px;
  padding:50px 0 50px;
  /*opacity: 0.5;*/
}

.darkClass
{
  background-color: white;
  filter:alpha(opacity=50); /* IE */
  opacity: 0.5; /* Safari, Opera */
  -moz-opacity:0.50; /* FireFox */
  z-index: 20;
  height: 100%;
  width: 100%;
  background-repeat:no-repeat;
  background-position:center;
  position:absolute;
  top: 0px;
  left: 0px;
}
