{% extends "layout/base.html" %}

{% block content %}
<div id="wrap">
  <div class="container">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-5">
          <img src="https://media.licdn.com/media/p/1/000/1c4/39e/123d7b3.jpg"
          class="img-responsive img-circle" height="300px" width="300px" style="margin-left: auto; margin-right: auto;"/>
        </div>
        <div class="col-md-5 custom_bg" style="height:300px">
          <h1 class="text-justify text-muted">Me, Mike</h1>
          <p class="lead">I used to enjoy <a href="http://sanfordlab.org/">bumping elbows with miners</a> while building <a href="http://lux.physics.ucdavis.edu/">a dark matter detector.</a></p>
          <p class="lead">Now I enjoy <a href="http://mike.strollthroughthewoods.com/">data science</a>.</p>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block footer %}
  {% include "include/footer.html" %}
{% endblock %}
