{% extends "layout/base.html" %}

{% block content %}
  <div id="wrap">
    <h1> MelodyMapr</h1>
    <h2> More signal, more tunes.</h2>

    <form action="/out" method="GET">
      Longitude: <input type="text" name="userlon"><br>
      Latitude: <input type="text" name="userlat"><p>
      <input type="submit">
    </form>

  <p>
  <a href="http://localhost:5000/out?userlon=-122.33&userlat=37.82&genre=Alt%">SF, Alternative</a>
  <p>
  <a href="http://localhost:5000/out?userlon=-122.33&userlat=37.82&genre=Sport%">SF, Sports</a>
  <p>
  <a href="http://localhost:5000/out?userlon=-118.264&userlat=33.950183&genre=Spanish%">LA, Spanish</a>
  <p>
  <a href="http://localhost:5000/out?userlon=-73.994140&userlat=40.74517&genre=Rock%">NYC, Rock</a>

  </div>
{% endblock %}
