{% extends "layout/base.html" %}

<!-- Adding the following to allow scrolling? -->
{% block head %}
<style>
body {
  overflow-y: auto;
}
#top {
  margin-top: 60px;
}
</style>
{% endblock %}

{% block content %}
  <div id="wrap">
    <h1> MelodyMapr</h1>
    <h2> More signal, more tunes.</h2>

    <form action="/out" method="GET">
      Origin: <input type="text" name="origin"><br>
      Destination: <input type="text" name="destination"><p>
      <input type="submit">
    </form>

  <p>
  <a href="http://localhost:5000/out?origin=Davis+CA&destination=San+Francisco+CA&genre=Alt%">Davis to SF, Alternative</a>
  <hr>
  <p>
  <a href="http://localhost:5000/out?userlon=-122.33&userlat=37.82&genre=Alt%">SF, Alternative</a>
  <p>
  <a href="http://localhost:5000/out?userlon=-122.33&userlat=37.82&genre=Sport%">SF, Sports</a>
  <p>
  <a href="http://localhost:5000/out?userlon=-118.264&userlat=33.950183&genre=Spanish%">LA, Spanish</a>
  <p>
  <a href="http://localhost:5000/out?userlon=-73.994140&userlat=40.74517&genre=Rock%">NYC, Rock</a>

  </div>
{% endblock %}
