{% extends "layout/base.html" %}

{% block head %}
  <link href="{{ url_for('static', filename='vendor/components-revealjs/css/theme/default.css') }}" rel="stylesheet">
  <style>
  .faint_custom_bg {
     /*background-color: #F0F0F0;*/
     background-color: rgba(240, 240, 240, 0.8);
  }
  </style>
{% endblock %}

{% block content %}
<div class="reveal">
<!-- PASTE BETWEEN HERE... -->
<center>
<iframe src="//slides.com/physicsmichael/melodymapr/embed" width="864" height="630" scrolling="no" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
</center>

<!-- ...AND HERE -->
</div>
{% endblock %}

{% block scripts %}
<!-- Presentation Libraries -->
<script src="{{ url_for('static', filename='vendor/components-revealjs/lib/js/head.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/components-revealjs/js/reveal.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/reveal.js') }}"></script>
{% endblock %}
